<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Products</title>
</head>
<body>
<a href="/products" style="float:right;"><b>ГЛАВНАЯ &cudarrr;</b></a>
<a href="/orders" style="float:right;"><b>ЗАКАЗЫ &cudarrr;</b></a>
<a href="/cart" style="float:right;"><b>КОРЗИНА &cudarrr;</b></a>

<form th:action="@{/products}" method="post" enctype="multipart/form-data" th:object="${productForm}">
    <div th:each="product, iterStat : ${productForm.products}">
        <h3>Товар [[${iterStat.index + 1}]]</h3>

        <label>Название:</label>
        <input type="text" th:field="*{products[__${iterStat.index}__].title}" /><br/>

        <label>Описание:</label>
        <textarea th:field="*{products[__${iterStat.index}__].description}"></textarea><br/>

        <label>Изображение:</label>
        <input type="file" name="files" />

        <label>Количество:</label>
        <input type="number" th:field="*{products[__${iterStat.index}__].count}" /><br/>

        <label>Цена:</label>
        <input type="number" step="0.01" th:field="*{products[__${iterStat.index}__].price}" /><br/>
        <hr/>
    </div>

    <button type="submit">Добавить</button>
</form>

</body>
</html>
