<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>

<body>
<a th:if="${role == 'ROLE_GUEST'}" href="/login" style="float:right;">
    <b>ВОЙТИ&cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/logout" style="float:right;">
    <b>ВЫЙТИ&cudarrr;</b>
</a>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a th:if="${role == 'ROLE_ADMIN'}" href="/products/new" style="float:right;">
    <b>ДОБАВИТЬ ТОВАРЫ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${#numbers.formatDecimal(item.getPrice(), 0, item.getPrice().intValue() == item.getPrice() ? 0 : 2)} + ' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/' + item.getId()}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: ' + ${#numbers.formatDecimal(total, 0, total.intValue() == total ? 0 : 2)} + ' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/orders" method="post" th:if="${!empty and canBuy and available}">
                <button>Купить</button>
            </form>
            <span th:if="${!canBuy and available}">Недостаточно средств</span>
            <span th:if="${!available}">Сервис недоступен</span>
        </td>
    </tr>
</table>
</body>

</html>
