<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>

<body>
<a th:if="${role == 'ROLE_GUEST'}" href="/login" style="float:right;">
    <b>ВОЙТИ&cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/logout" style="float:right;">
    <b>ВЫЙТИ&cudarrr;</b>
</a>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/cart" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:if="${role == 'ROLE_ADMIN'}" href="/products/new" style="float:right;">
    <b>ДОБАВИТЬ ТОВАРЫ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №' + order.getId()}" th:href="${'/orders/' + order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getTitle() + ' (' + item.getQuantity() + ' шт.) '
                        + #numbers.formatDecimal(item.getPriceAtPurchase() * item.getQuantity(),
                            0, (item.getPriceAtPurchase() * item.getQuantity()).intValue() == (item.getPriceAtPurchase() * item.getQuantity()) ? 0 : 2)
                        + ' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="'Сумма: '
                    + ${#numbers.formatDecimal(order.getTotalSum(),
                        0, order.getTotalSum().intValue() == order.getTotalSum() ? 0 : 2)}
                    + ' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>
