<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>

<body>
<a th:if="${role == 'ROLE_GUEST'}" href="/login" style="float:right;">
    <b>ВОЙТИ&cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/logout" style="float:right;">
    <b>ВЫЙТИ&cudarrr;</b>
</a>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/cart" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:if="${role == 'ROLE_ADMIN'}" href="/products/new" style="float:right;">
    <b>ДОБАВИТЬ ТОВАРЫ &cudarrr;</b>
</a>
<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="item : ${order.getItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+item.getId()}">
                            <img width="300" height="300" th:src="${item.getImgPath()}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getQuantity()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPriceAtPurchase()*item.getQuantity()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>
